# Gatsby
/public/
/.cache/

# Yarn
/node_modules/

/.yarn/*
!/.yarn/releases
!/.yarn/plugins
!/.yarn/sdks
!/.yarn/versions
/.pnp.*

# dotenv
.env/.env*.local

# gatsby-plugin-graphql-codegen
/types/gatsby-graphql-types.d.ts
