# Gatsby
/public/
/.cache/

# Yarn
/node_modules/
yarn-error.log
/.yarn/*
/!.yarn/releases
/!.yarn/plugins
/!.yarn/sdks
/!.yarn/versions

# dotenv
.env/.env*.local

# gatsby-plugin-graphql-codegen
/types/gatsby-graphql-types.d.ts
